.elasticsearch
.db_backups
.services
celerybeat-schedule*
pkg/business_data
env
.docs
coverage/

# frontend webpack stuff
node_modules
webpack
staticfiles
.tsconfig-paths.json
.frontend-configuration-settings.json

*.pyc
arches.log
afrh_prj/logs/*.log
afrh_prj/uploadedfiles
afrh_prj/settings_local.py
*.djcache
.DS_Store
*.sublime*
.vscode/
CACHE

# zensical
site/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
